<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Данные напрямую из DAO-класса:
        <c:forEach items="#{userDAO.findAll()}" var="user">
            ${user}<br/>
        </c:forEach>
        Данные из управляемого бина контекста запроса:
        <c:forEach items="#{indexPageBean.users}" var="user">
            ${user}<br/>
        </c:forEach>
    </h:body>
</html>

